body {
  overflow: hidden;
  background-color: #000;
}

.start{
  width: 27vw;
  height: 27vw;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: 3s;
  margin-left: 33vw;
  margin-top: 10vh;
}
.start p {
  width: 300px;
  margin-top:60vh;
  color: #fff;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 20px;
  margin-left: 4.5vw;
}
.next p {
  width: 300px;
  margin-left: 39.5vw;
  margin-top:70vh;
  color: #fff;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 20px;
  display: none;
  position: absolute;
  cursor: pointer;
}
.next p:hover {
  color: yellow;

}
.lack p {
  width: 300px;
  margin-left: 39.5vw;
  margin-top:75vh;
  color: #fff;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 20px;
  display: none;
  position: absolute;
  cursor: pointer;
}
.lack p:hover {
  color: yellow;

}

.spin {
  position: absolute;
  transform: rotate(63deg);
  width: 27vw;
  opacity: 0;
  margin-left: 33vw;
  z-index: 98;
  -webkit-transition: 3s;
  margin-top: 10vh;
}

.word {
  transform: rotate(2150deg);
  width: 27vw;
  margin-left: 33vw;
  z-index: 50;
  position: absolute;
  -webkit-transition: 7s;
    margin-top: 10vh;
}




.date-css + .date-js {
  animation: drawArc 6s linear infinite;
  -webkit-transition: 20s;
}

.date-js {
  position: relative;
}


.card {
  position: absolute;
  background-color: #000;
  border-radius: 1.5vw;
  border-color: purple;
  border-width: 2px;
  border-style: solid;
  width: 10vw;
  height: 15vw;
  left: 2vw;
  box-shadow: 0 10px 10px rgba(0,0,0,.5);
  transform-origin: 110% 110%;
  transition: 2s;
}
.card p {
  text-align: center;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin-top: 20vh;

}

.right {
  width: 25vw;
  height: 80vh;
  /* background-color: red; */

}
.left {
  width: 25vw;
  height: 80vh;
  /* background-color: red; */
}
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  display: none;
}
footer {
  background-color: #000;
}
.logo {
  position: absolute;
}
footer img {
  align-items: space-around;
  width: 100px;
  height: auto;
  position: absolute;
  margin-top: 85vh;
  margin-left: 2vw;
  /* не потерять лого */
}
